@model gpxViewer.Models.GpxRoute

@{
    ViewBag.Title = @gpxViewer.Resources.Resource.Delete;
}

<h2 class="routesOperationsTitle">@gpxViewer.Resources.Resource.Delete</h2>

<h3>@gpxViewer.Resources.Resource.AreYouSure</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @gpxViewer.Resources.Resource.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @gpxViewer.Resources.Resource.Distance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @gpxViewer.Resources.Resource.Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @gpxViewer.Resources.Resource.Elevation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elevation)
        </dd>

        <dt>
            @gpxViewer.Resources.Resource.Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SentDate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input id="deleteButton" type="submit" value="@gpxViewer.Resources.Resource.Delete" class="btn btn-danger" />
        </div>
    }
    @Html.ActionLink(@gpxViewer.Resources.Resource.Back, null, null, null, new { href = Request.UrlReferrer })
</div>
