@model IEnumerable<gpxViewer.Models.GpxRoute>

@{
    ViewBag.Title = @gpxViewer.Resources.Resource.Routes;
}

@section scripts {
    <script type='text/javascript' src='~/Configs/config.js'></script>
    <script src="~/Scripts/Site.js" type="text/javascript"></script>
}

<h2 class="routesOperationsTitle">@gpxViewer.Resources.Resource.Routes</h2>
<div class="row" id="mainRoutesRow">
    <div class="col-lg-2">
        <div id="statisticsDiv">
            <h4>@gpxViewer.Resources.Resource.Statistics:</h4>
            <p class="bold">@gpxViewer.Resources.Resource.Rides: <div class="inline">@ViewBag.Rides</div></p>
            <p class="bold">@gpxViewer.Resources.Resource.Distance: <div class="inline">@ViewBag.Distance km</div></p>
            <p class="bold">@gpxViewer.Resources.Resource.Time: <div class="inline">@((int)ViewBag.time.TotalHours)h @(ViewBag.time.Minutes)m</div></p>
            <p class="bold">@gpxViewer.Resources.Resource.Elevation: <div class="inline">@ViewBag.Elevation m</div></p>
        </div>
    </div>

    <div class="col-lg-8">
        @foreach (var item in Model)
        {
            <div class="activityContainer">
                <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                <div><img id="staticMap" src="@Html.DisplayFor(modelItem => item.MapUrl)" alt="Mapbox static map" /></div>
                <div id="activityStats">
                    <div class="activityRow">
                        <div class="activityColumn">
                            <p class="bold"> @gpxViewer.Resources.Resource.Distance: <div class="inline">@Html.DisplayFor(modelItem => item.Distance) km</div> </p>
                        </div>
                        <div class="activityColumn">
                            <p class="bold"> @gpxViewer.Resources.Resource.Time: <div class="inline">@Html.DisplayFor(modelItem => item.Time)</div></p>
                        </div>
                        <div class="activityColumn">
                            <p class="bold"> @gpxViewer.Resources.Resource.Elevation: <div class="inline">@Html.DisplayFor(modelItem => item.Elevation) m</div></p>
                        </div>
                    </div>
                </div>
                <div>
                    @Html.ActionLink(@gpxViewer.Resources.Resource.Details, "Details", "GpxRoutes", new { id = item.Id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
    </div>

    <div class="col-lg-2">

    </div>
</div>
